body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #eeeeff;
  font-family: "Graphik-Medium", "Graphik-Regular", "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container{
  display: flex;
  justify-content: center;
  margin: auto 10vh;
  flex-direction: column;
}
  
.logo{
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 90%;
}
  
.logo img{
  margin-top: 10vh;
  width:50%;
  min-width: 250px;
  display:flex;
  margin-bottom: 0;
}
  
.main{
  display: flex;
  justify-content: center;
  margin: 2vh;
  flex-direction: column;
}
  
textarea{
  height: 30vh;
}
  
.btn{
  display: flex;
  justify-content: center;
}
  
.home-button{
  justify-content: center;
  background: #4e9ff4;
  margin: 16px;
  font-size: 16px;
  min-width: 150px;
  min-height: 50px;
  min-width: max-content;
  transition: 0.2s;
  color: white;
  font-weight: 900;
  border: none;
  border-radius: 4px;
  max-width: 70%;
    
}

button{
  text-align: center;
}
